model-1.1/xsd/partwise.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <xs:annotation>
<!--  This schema was automatically generated by Syntext Dtd2Schema  -->
<!--  conversion tool (from file: u:\soft\proxymusic\model-1.1\dtd\partwise.dtd)  -->
<!--  Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates.  -->
 </xs:annotation>
<!-- <xs:attribute name='href' use='required'/> -->
 <xs:attribute name='type' fixed='simple'>
  <xs:simpleType>
   <xs:restriction base='xs:string'>
    <xs:enumeration value='simple'/>
   </xs:restriction>
  </xs:simpleType>
 </xs:attribute>
 <xs:attribute name='role'/>
 <xs:attribute name='title'/>
 <xs:attribute name='show' default='replace'>
  <xs:simpleType>
   <xs:restriction base='xs:string'>
    <xs:enumeration value='new'/>
    <xs:enumeration value='replace'/>
    <xs:enumeration value='embed'/>
    <xs:enumeration value='other'/>
    <xs:enumeration value='none'/>
   </xs:restriction>
  </xs:simpleType>
 </xs:attribute>
 <xs:attribute name='actuate' default='onRequest'>
  <xs:simpleType>
   <xs:restriction base='xs:string'>
    <xs:enumeration value='onRequest'/>
    <xs:enumeration value='onLoad'/>
    <xs:enumeration value='other'/>
    <xs:enumeration value='none'/>
   </xs:restriction>
  </xs:simpleType>
 </xs:attribute>
 <xs:attributeGroup name='justify'>
  <xs:attribute name='justify'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='left'/>
     <xs:enumeration value='center'/>
     <xs:enumeration value='right'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='halign'>
  <xs:attribute name='halign'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='left'/>
     <xs:enumeration value='center'/>
     <xs:enumeration value='right'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='valign'>
  <xs:attribute name='valign'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='top'/>
     <xs:enumeration value='middle'/>
     <xs:enumeration value='bottom'/>
     <xs:enumeration value='baseline'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='print-style'>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='position'>
  <xs:attribute name='default-x'/>
  <xs:attribute name='default-y'/>
  <xs:attribute name='relative-x'/>
  <xs:attribute name='relative-y'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='font'>
  <xs:attribute name='font-family'/>
  <xs:attribute name='font-style'/>
  <xs:attribute name='font-size'/>
  <xs:attribute name='font-weight'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='color'>
  <xs:attribute name='color'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='level-display'>
  <xs:attribute name='parentheses'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='bracket'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='size'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='full'/>
     <xs:enumeration value='cue'/>
     <xs:enumeration value='large'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='placement'>
  <xs:attribute name='placement'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='above'/>
     <xs:enumeration value='below'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='trill-sound'>
  <xs:attribute name='start-note'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='upper'/>
     <xs:enumeration value='main'/>
     <xs:enumeration value='below'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='trill-step'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='whole'/>
     <xs:enumeration value='half'/>
     <xs:enumeration value='unison'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='two-note-turn'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='whole'/>
     <xs:enumeration value='half'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='accelerate'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='beats'/>
  <xs:attribute name='second-beat'/>
  <xs:attribute name='last-beat'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='print-object'>
  <xs:attribute name='print-object'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='print-spacing'>
  <xs:attribute name='print-spacing'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='link-attributes'>
  <xs:attribute name='href' use='required'/>
  <xs:attribute name='type' fixed='simple'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='simple'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='role'/>
  <xs:attribute name='title'/>
  <xs:attribute name='show' default='replace'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='new'/>
     <xs:enumeration value='replace'/>
     <xs:enumeration value='embed'/>
     <xs:enumeration value='other'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='actuate' default='onRequest'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='onRequest'/>
     <xs:enumeration value='onLoad'/>
     <xs:enumeration value='other'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='printout'>
  <xs:attributeGroup ref='print-object'/>
  <xs:attribute name='print-dot'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-spacing'/>
  <xs:attribute name='print-lyric'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='line-type'>
  <xs:attribute name='line-type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='solid'/>
     <xs:enumeration value='dashed'/>
     <xs:enumeration value='dotted'/>
     <xs:enumeration value='wavy'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='orientation'>
  <xs:attribute name='orientation'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='over'/>
     <xs:enumeration value='under'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='bezier'>
  <xs:attribute name='bezier-offset'/>
  <xs:attribute name='bezier-offset2'/>
  <xs:attribute name='bezier-x'/>
  <xs:attribute name='bezier-y'/>
  <xs:attribute name='bezier-x2'/>
  <xs:attribute name='bezier-y2'/>
 </xs:attributeGroup>
 <xs:attributeGroup name='line-shape'>
  <xs:attribute name='line-shape'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='straight'/>
     <xs:enumeration value='curved'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:attributeGroup name='bend-sound'>
  <xs:attribute name='accelerate'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='beats'/>
  <xs:attribute name='first-beat'/>
  <xs:attribute name='last-beat'/>
 </xs:attributeGroup>
 <xs:element name='accent'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='accidental'>
  <xs:complexType mixed='true'>
  <xs:attribute name='cautionary'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='editorial'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='level-display'/>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='accidental-mark'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='accord'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='tuning-step'/>
     <xs:element ref='tuning-alter' minOccurs='0'/>
     <xs:element ref='tuning-octave'/>
   </xs:sequence>
  <xs:attribute name='string' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='actual-notes'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='alter'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='arpeggiate'>
  <xs:complexType>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='direction'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='up'/>
     <xs:enumeration value='down'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='articulations'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='accent'/>
       <xs:element ref='strong-accent'/>
       <xs:element ref='staccato'/>
       <xs:element ref='tenuto'/>
       <xs:element ref='detached-legato'/>
       <xs:element ref='staccatissimo'/>
       <xs:element ref='spiccato'/>
       <xs:element ref='scoop'/>
       <xs:element ref='plop'/>
       <xs:element ref='doit'/>
       <xs:element ref='falloff'/>
       <xs:element ref='breath-mark'/>
       <xs:element ref='caesura'/>
       <xs:element ref='other-articulation'/>
     </xs:choice>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='artificial'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='attributes'>
  <xs:complexType>
   <xs:sequence>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
     </xs:sequence>
     <xs:element ref='divisions' minOccurs='0'/>
     <xs:element ref='key' minOccurs='0'/>
     <xs:element ref='time' minOccurs='0'/>
     <xs:element ref='staves' minOccurs='0'/>
     <xs:element ref='instruments' minOccurs='0'/>
     <xs:element ref='clef' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='staff-details' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='transpose' minOccurs='0'/>
     <xs:element ref='directive' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='measure-style' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='backup'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='duration'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
     </xs:sequence>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='bar-style'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='barline'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='bar-style' minOccurs='0'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
     </xs:sequence>
     <xs:element ref='wavy-line' minOccurs='0'/>
     <xs:element ref='segno' minOccurs='0'/>
     <xs:element ref='coda' minOccurs='0'/>
     <xs:element ref='fermata' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='ending' minOccurs='0'/>
     <xs:element ref='repeat' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='location' default='right'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='right'/>
     <xs:enumeration value='left'/>
     <xs:enumeration value='middle'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='barre'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='base-pitch'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='bass'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='bass-step'/>
     <xs:element ref='bass-alter' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='bass-alter'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='bass-step'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='beam'>
  <xs:complexType mixed='true'>
  <xs:attribute name='number' default='1'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='repeater'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='fan'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='accel'/>
     <xs:enumeration value='rit'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='beat-repeat'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='slashes' type='xs:NMTOKEN'/>
  <xs:attribute name='use-dots'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='beat-type'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='beat-unit'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='beat-unit-dot'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='beats'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='bend'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='bend-alter'/>
     <xs:choice minOccurs='0'>
       <xs:element ref='pre-bend'/>
       <xs:element ref='release'/>
     </xs:choice>
     <xs:element ref='with-bar' minOccurs='0'/>
   </xs:sequence>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='bend-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='bend-alter'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='bookmark'>
  <xs:complexType>
  <xs:attribute name='id' use='required' type='xs:ID'/>
  <xs:attribute name='name'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='bottom-margin'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='bracket'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='line-end' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='up'/>
     <xs:enumeration value='down'/>
     <xs:enumeration value='both'/>
     <xs:enumeration value='arrow'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='end-length'/>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='breath-mark'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='caesura'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='cancel'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='capo'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='chord'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='chromatic'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='clef'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='sign'/>
     <xs:element ref='line' minOccurs='0'/>
     <xs:element ref='clef-octave-change' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='number'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='clef-octave-change'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='coda'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='creator'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='credit'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='credit-words' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='credit-words'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='justify'/>
  <xs:attributeGroup ref='halign'/>
  <xs:attributeGroup ref='valign'/>
  <xs:attributeGroup ref='print-style'/>
  <xs:attribute name='enclosure'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='rectangle'/>
     <xs:enumeration value='oval'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='cue'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='damp'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='damp-all'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dashes'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='defaults'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='scaling' minOccurs='0'/>
     <xs:element ref='page-layout' minOccurs='0'/>
     <xs:element ref='system-layout' minOccurs='0'/>
     <xs:element ref='staff-layout' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='music-font' minOccurs='0'/>
     <xs:element ref='word-font' minOccurs='0'/>
     <xs:element ref='lyric-font' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='lyric-language' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='degree'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='degree-value'/>
     <xs:element ref='degree-alter'/>
     <xs:element ref='degree-type'/>
   </xs:sequence>
  <xs:attributeGroup ref='print-object'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='degree-alter'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='degree-type'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='degree-value'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='delayed-turn'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='trill-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='detached-legato'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='diatonic'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='direction'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='direction-type' maxOccurs='unbounded'/>
     <xs:element ref='offset' minOccurs='0'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
       <xs:element ref='voice' minOccurs='0'/>
     </xs:sequence>
     <xs:element ref='staff' minOccurs='0'/>
     <xs:element ref='sound' minOccurs='0'/>
   </xs:sequence>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='direction-type'>
  <xs:complexType>
   <xs:choice>
     <xs:element ref='rehearsal' maxOccurs='unbounded'/>
     <xs:element ref='segno' maxOccurs='unbounded'/>
     <xs:element ref='words' maxOccurs='unbounded'/>
     <xs:element ref='coda' maxOccurs='unbounded'/>
     <xs:element ref='wedge'/>
     <xs:element ref='dynamics' maxOccurs='unbounded'/>
     <xs:element ref='dashes'/>
     <xs:element ref='bracket'/>
     <xs:element ref='pedal'/>
     <xs:element ref='metronome'/>
     <xs:element ref='octave-shift'/>
     <xs:element ref='harp-pedals'/>
     <xs:element ref='damp'/>
     <xs:element ref='damp-all'/>
     <xs:element ref='eyeglasses'/>
     <xs:element ref='scordatura'/>
     <xs:element ref='other-direction'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='directive'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='display-octave'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='display-step'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='divisions'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='doit'>
  <xs:complexType>
  <xs:attributeGroup ref='line-shape'/>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='dot'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='double'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='double-tongue'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='down-bow'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='duration'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='dynamics'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='p'/>
       <xs:element ref='pp'/>
       <xs:element ref='ppp'/>
       <xs:element ref='pppp'/>
       <xs:element ref='ppppp'/>
       <xs:element ref='pppppp'/>
       <xs:element ref='f'/>
       <xs:element ref='ff'/>
       <xs:element ref='fff'/>
       <xs:element ref='ffff'/>
       <xs:element ref='fffff'/>
       <xs:element ref='ffffff'/>
       <xs:element ref='mp'/>
       <xs:element ref='mf'/>
       <xs:element ref='sf'/>
       <xs:element ref='sfp'/>
       <xs:element ref='sfpp'/>
       <xs:element ref='fp'/>
       <xs:element ref='rf'/>
       <xs:element ref='rfz'/>
       <xs:element ref='sfz'/>
       <xs:element ref='sffz'/>
       <xs:element ref='fz'/>
       <xs:element ref='other-dynamics'/>
     </xs:choice>
   </xs:sequence>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='elision'>
  <xs:complexType>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='encoder'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='encoding'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='encoding-date'/>
       <xs:element ref='encoder'/>
       <xs:element ref='software'/>
       <xs:element ref='encoding-description'/>
       <xs:element ref='supports'/>
     </xs:choice>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='encoding-date'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='encoding-description'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='end-line'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='end-paragraph'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='ending'>
  <xs:complexType mixed='true'>
  <xs:attribute name='number' use='required'/>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
     <xs:enumeration value='discontinue'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attribute name='end-length'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='extend'>
  <xs:complexType>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='eyeglasses'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='f'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='falloff'>
  <xs:complexType>
  <xs:attributeGroup ref='line-shape'/>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='feature'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='fermata'>
  <xs:complexType>
  <xs:attribute name='type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='upright'/>
     <xs:enumeration value='inverted'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='ff'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='fff'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='ffff'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='fffff'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='ffffff'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='fifths'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='figure'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='prefix' minOccurs='0'/>
     <xs:element ref='figure-number' minOccurs='0'/>
     <xs:element ref='suffix' minOccurs='0'/>
     <xs:element ref='extend' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='figure-number'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='figured-bass'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='figure' maxOccurs='unbounded'/>
     <xs:element ref='duration' minOccurs='0'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
     </xs:sequence>
   </xs:sequence>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='printout'/>
  <xs:attribute name='parentheses'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='fingering'>
  <xs:complexType mixed='true'>
  <xs:attribute name='substitution'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='alternate'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='fingernails'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='first-fret'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='footnote'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='justify'/>
  <xs:attributeGroup ref='halign'/>
  <xs:attributeGroup ref='valign'/>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='forward'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='duration'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
       <xs:element ref='voice' minOccurs='0'/>
     </xs:sequence>
     <xs:element ref='staff' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='fp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='frame'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='frame-strings'/>
     <xs:element ref='frame-frets'/>
     <xs:element ref='first-fret' minOccurs='0'/>
     <xs:element ref='frame-note' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='color'/>
  <xs:attribute name='height'/>
  <xs:attribute name='width'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='frame-frets'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='frame-note'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='string'/>
     <xs:element ref='fret'/>
     <xs:element ref='fingering' minOccurs='0'/>
     <xs:element ref='barre' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='frame-strings'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='fret'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='function'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='fz'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='glissando'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number' default='1'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='grace'>
  <xs:complexType>
  <xs:attribute name='steal-time-previous'/>
  <xs:attribute name='steal-time-following'/>
  <xs:attribute name='make-time'/>
  <xs:attribute name='slash'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='group'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='group-abbreviation'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='justify'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='group-barline'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='group-name'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='justify'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='group-symbol'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='grouping'>
  <xs:complexType>
   <xs:sequence>
      <xs:element ref='feature' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number' default='1'/>
  <xs:attribute name='member-of'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='hammer-on'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number' default='1'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='harmonic'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0'>
       <xs:element ref='natural'/>
       <xs:element ref='artificial'/>
     </xs:choice>
     <xs:choice minOccurs='0'>
       <xs:element ref='base-pitch'/>
       <xs:element ref='touching-pitch'/>
       <xs:element ref='sounding-pitch'/>
     </xs:choice>
   </xs:sequence>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='harmony'>
  <xs:complexType>
   <xs:sequence>
      <xs:sequence maxOccurs='unbounded'>
        <xs:choice>
          <xs:element ref='root'/>
          <xs:element ref='function'/>
        </xs:choice>
        <xs:element ref='kind'/>
        <xs:element ref='inversion' minOccurs='0'/>
        <xs:element ref='bass' minOccurs='0'/>
        <xs:element ref='degree' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
     <xs:element ref='frame' minOccurs='0'/>
     <xs:element ref='offset' minOccurs='0'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
     </xs:sequence>
     <xs:element ref='staff' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='explicit'/>
     <xs:enumeration value='implied'/>
     <xs:enumeration value='alternate'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-object'/>
  <xs:attribute name='print-frame'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='harp-pedals'>
  <xs:complexType>
   <xs:sequence maxOccurs='unbounded'>
     <xs:element ref='pedal-tuning'/>
   </xs:sequence>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='heel'>
  <xs:complexType>
  <xs:attribute name='substitution'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='humming'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='identification'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='creator' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='rights' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='encoding' minOccurs='0'/>
     <xs:element ref='source' minOccurs='0'/>
     <xs:element ref='miscellaneous' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='instrument'>
  <xs:complexType>
  <xs:attribute name='id' use='required' type='xs:IDREF'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='instrument-abbreviation'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='instrument-name'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='instruments'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='inversion'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='inverted-mordent'>
  <xs:complexType>
  <xs:attribute name='long'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='trill-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='key'>
  <xs:complexType>
   <xs:choice>
     <xs:sequence>
       <xs:element ref='cancel' minOccurs='0'/>
       <xs:element ref='fifths'/>
       <xs:element ref='mode' minOccurs='0'/>
     </xs:sequence>
      <xs:sequence minOccurs='0' maxOccurs='unbounded'>
        <xs:element ref='key-step'/>
        <xs:element ref='key-alter'/>
      </xs:sequence>
   </xs:choice>
  <xs:attribute name='number'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='key-alter'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='key-step'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='kind'>
  <xs:complexType mixed='true'>
  <xs:attribute name='use-symbols'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='text'/>
  <xs:attribute name='stack-degrees'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='parentheses-degrees'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='bracket-degrees'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='laughing'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='left-margin'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='level'>
  <xs:complexType mixed='true'>
  <xs:attribute name='reference'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='level-display'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='line'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='link'>
  <xs:complexType>
  <xs:attributeGroup ref='link-attributes'/>
  <xs:attribute name='name'/>
  <xs:attributeGroup ref='position'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='lyric'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice>
       <xs:sequence>
         <xs:sequence>
           <xs:element ref='syllabic' minOccurs='0'/>
           <xs:element ref='text'/>
         </xs:sequence>
         <xs:sequence minOccurs='0' maxOccurs='unbounded'>
           <xs:element ref='elision'/>
           <xs:element ref='syllabic' minOccurs='0'/>
           <xs:element ref='text'/>
         </xs:sequence>
         <xs:element ref='extend' minOccurs='0'/>
       </xs:sequence>
       <xs:element ref='extend'/>
       <xs:element ref='laughing'/>
       <xs:element ref='humming'/>
     </xs:choice>
     <xs:element ref='end-line' minOccurs='0'/>
     <xs:element ref='end-paragraph' minOccurs='0'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
     </xs:sequence>
   </xs:sequence>
  <xs:attribute name='number' type='xs:NMTOKEN'/>
  <xs:attribute name='name'/>
  <xs:attributeGroup ref='justify'/>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='lyric-font'>
  <xs:complexType>
  <xs:attribute name='number' type='xs:NMTOKEN'/>
  <xs:attribute name='name'/>
  <xs:attributeGroup ref='font'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='lyric-language'>
  <xs:complexType>
  <xs:attribute name='number' type='xs:NMTOKEN'/>
  <xs:attribute name='name'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='measure'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='note'/>
       <xs:element ref='backup'/>
       <xs:element ref='forward'/>
       <xs:element ref='direction'/>
       <xs:element ref='attributes'/>
       <xs:element ref='harmony'/>
       <xs:element ref='figured-bass'/>
       <xs:element ref='print'/>
       <xs:element ref='sound'/>
       <xs:element ref='barline'/>
       <xs:element ref='grouping'/>
       <xs:element ref='link'/>
       <xs:element ref='bookmark'/>
     </xs:choice>
   </xs:sequence>
  <xs:attribute name='number' use='required'/>
  <xs:attribute name='implicit'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='non-controlling'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='width'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='measure-distance'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='measure-layout'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='measure-distance' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='measure-repeat'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='slashes' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='measure-style'>
  <xs:complexType>
   <xs:choice>
     <xs:element ref='multiple-rest'/>
     <xs:element ref='measure-repeat'/>
     <xs:element ref='beat-repeat'/>
     <xs:element ref='slash'/>
   </xs:choice>
  <xs:attribute name='number'/>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='metronome'>
  <xs:complexType>
   <xs:sequence minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='per-minute' minOccurs='0'/>
     <xs:sequence>
       <xs:element ref='beat-unit'/>
       <xs:element ref='beat-unit-dot' minOccurs='0' maxOccurs='unbounded'/>
     </xs:sequence>
   </xs:sequence>
  <xs:attributeGroup ref='print-style'/>
  <xs:attribute name='parentheses'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='mf'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='midi-bank'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='midi-channel'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='midi-device'>
  <xs:complexType mixed='true'>
  <xs:attribute name='port'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='midi-instrument'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='midi-channel' minOccurs='0'/>
     <xs:element ref='midi-name' minOccurs='0'/>
     <xs:element ref='midi-bank' minOccurs='0'/>
     <xs:element ref='midi-program' minOccurs='0'/>
     <xs:element ref='midi-unpitched' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='id' use='required' type='xs:IDREF'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='midi-name'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='midi-program'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='midi-unpitched'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='millimeters'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='miscellaneous'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='miscellaneous-field' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='miscellaneous-field'>
  <xs:complexType mixed='true'>
  <xs:attribute name='name' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='mode'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='mordent'>
  <xs:complexType>
  <xs:attribute name='long'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='trill-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='movement-number'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='movement-title'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='mp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='multiple-rest'>
  <xs:complexType mixed='true'>
  <xs:attribute name='use-symbols'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='music-font'>
  <xs:complexType>
  <xs:attributeGroup ref='font'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='natural'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='non-arpeggiate'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='top'/>
     <xs:enumeration value='bottom'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='normal-dot'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='normal-notes'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='normal-type'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='notations'>
  <xs:complexType>
   <xs:sequence>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
     </xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='tied'/>
       <xs:element ref='slur'/>
       <xs:element ref='tuplet'/>
       <xs:element ref='glissando'/>
       <xs:element ref='slide'/>
       <xs:element ref='ornaments'/>
       <xs:element ref='technical'/>
       <xs:element ref='articulations'/>
       <xs:element ref='dynamics'/>
       <xs:element ref='fermata'/>
       <xs:element ref='arpeggiate'/>
       <xs:element ref='non-arpeggiate'/>
       <xs:element ref='accidental-mark'/>
       <xs:element ref='other-notation'/>
     </xs:choice>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='note'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0'>
       <xs:element ref='grace'/>
       <xs:element ref='cue'/>
     </xs:choice>
     <xs:sequence>
       <xs:element ref='chord' minOccurs='0'/>
       <xs:choice>
         <xs:element ref='pitch'/>
         <xs:element ref='unpitched'/>
         <xs:element ref='rest'/>
       </xs:choice>
     </xs:sequence>
     <xs:element ref='duration'/>
     <xs:element ref='tie' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='instrument' minOccurs='0'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
       <xs:element ref='voice' minOccurs='0'/>
     </xs:sequence>
     <xs:element ref='type' minOccurs='0'/>
     <xs:element ref='dot' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='accidental' minOccurs='0'/>
     <xs:element ref='time-modification' minOccurs='0'/>
     <xs:element ref='stem' minOccurs='0'/>
     <xs:element ref='notehead' minOccurs='0'/>
     <xs:element ref='staff' minOccurs='0'/>
     <xs:element ref='beam' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='notations' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='lyric' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='printout'/>
  <xs:attribute name='dynamics'/>
  <xs:attribute name='end-dynamics'/>
  <xs:attribute name='attack'/>
  <xs:attribute name='release'/>
  <xs:attribute name='time-only'/>
  <xs:attribute name='pizzicato'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='notehead'>
  <xs:complexType mixed='true'>
  <xs:attribute name='filled'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='parentheses'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='octave'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='octave-change'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='octave-shift'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='up'/>
     <xs:enumeration value='down'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='size' default='8'/>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='offset'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='open-string'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='opus'>
  <xs:complexType>
  <xs:attributeGroup ref='link-attributes'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='ornaments'>
  <xs:complexType>
   <xs:sequence>
     <xs:sequence minOccurs='0' maxOccurs='unbounded'>
       <xs:choice>
         <xs:element ref='trill-mark'/>
         <xs:element ref='turn'/>
         <xs:element ref='delayed-turn'/>
         <xs:element ref='shake'/>
         <xs:element ref='wavy-line'/>
         <xs:element ref='mordent'/>
         <xs:element ref='inverted-mordent'/>
         <xs:element ref='schleifer'/>
         <xs:element ref='tremolo'/>
         <xs:element ref='other-ornament'/>
       </xs:choice>
       <xs:element ref='accidental-mark' minOccurs='0' maxOccurs='unbounded'/>
     </xs:sequence>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='other-articulation'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='other-direction'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='other-dynamics'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='other-notation'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number' default='1'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='other-ornament'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='other-technical'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='p'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='page-height'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='page-layout'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='page-height'/>
     <xs:element ref='page-width'/>
     <xs:element ref='page-margins' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='page-margins'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='left-margin'/>
     <xs:element ref='right-margin'/>
     <xs:element ref='top-margin'/>
     <xs:element ref='bottom-margin'/>
   </xs:sequence>
  <xs:attribute name='type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='odd'/>
     <xs:enumeration value='even'/>
     <xs:enumeration value='both'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='page-width'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='part'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='measure' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='id' use='required' type='xs:IDREF'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='part-abbreviation'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='print-object'/>
  <xs:attributeGroup ref='justify'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='part-group'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='group-name' minOccurs='0'/>
     <xs:element ref='group-abbreviation' minOccurs='0'/>
     <xs:element ref='group-symbol' minOccurs='0'/>
     <xs:element ref='group-barline' minOccurs='0'/>
     <xs:sequence>
       <xs:element ref='footnote' minOccurs='0'/>
       <xs:element ref='level' minOccurs='0'/>
     </xs:sequence>
   </xs:sequence>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number' default='1'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='part-list'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='part-group'/>
     <xs:element ref='score-part'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>
 <xs:element name='part-name'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='print-object'/>
  <xs:attributeGroup ref='justify'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='pedal'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
     <xs:enumeration value='change'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='line'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='pedal-alter'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='pedal-step'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='pedal-tuning'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='pedal-step'/>
     <xs:element ref='pedal-alter'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='per-minute'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='pitch'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='step'/>
     <xs:element ref='alter' minOccurs='0'/>
     <xs:element ref='octave'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='plop'>
  <xs:complexType>
  <xs:attributeGroup ref='line-shape'/>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='pluck'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='pp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='ppp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='pppp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='ppppp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='pppppp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='pre-bend'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='prefix'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='print'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='page-layout' minOccurs='0'/>
     <xs:element ref='system-layout' minOccurs='0'/>
     <xs:element ref='staff-layout' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='measure-layout' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='staff-spacing'/>
  <xs:attribute name='new-system'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='new-page'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='page-number'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='pull-off'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number' default='1'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='rehearsal'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attribute name='enclosure'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='square'/>
     <xs:enumeration value='circle'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='release'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='repeat'>
  <xs:complexType>
  <xs:attribute name='direction' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='backward'/>
     <xs:enumeration value='forward'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='times'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='rest'>
  <xs:complexType>
   <xs:sequence>
     <xs:sequence minOccurs='0'>
       <xs:element ref='display-step'/>
       <xs:element ref='display-octave'/>
     </xs:sequence>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='rf'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='rfz'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='right-margin'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='rights'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='root'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='root-step'/>
     <xs:element ref='root-alter' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='root-alter'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='root-step'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='scaling'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='millimeters'/>
     <xs:element ref='tenths'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='schleifer'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='scoop'>
  <xs:complexType>
  <xs:attributeGroup ref='line-shape'/>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='scordatura'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='accord' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='score-instrument'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='instrument-name'/>
     <xs:element ref='instrument-abbreviation' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='id' use='required' type='xs:ID'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='score-part'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='identification' minOccurs='0'/>
     <xs:element ref='part-name'/>
     <xs:element ref='part-abbreviation' minOccurs='0'/>
     <xs:element ref='group' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='score-instrument' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='midi-device' minOccurs='0'/>
     <xs:element ref='midi-instrument' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='id' use='required' type='xs:ID'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='score-partwise'>
  <xs:complexType>
   <xs:sequence>
     <xs:sequence>
       <xs:element ref='work' minOccurs='0'/>
       <xs:element ref='movement-number' minOccurs='0'/>
       <xs:element ref='movement-title' minOccurs='0'/>
       <xs:element ref='identification' minOccurs='0'/>
       <xs:element ref='defaults' minOccurs='0'/>
       <xs:element ref='credit' minOccurs='0' maxOccurs='unbounded'/>
       <xs:element ref='part-list'/>
     </xs:sequence>
     <xs:element ref='part' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='version' default='1.0'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='segno'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='senza-misura'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='sf'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='sffz'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='sfp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='sfpp'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='sfz'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='shake'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='trill-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='sign'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='slash'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='use-dots'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='use-stems'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='slide'>
  <xs:complexType mixed='true'>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number' default='1'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='bend-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='slur'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
     <xs:enumeration value='continue'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number' default='1'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='orientation'/>
  <xs:attributeGroup ref='bezier'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='snap-pizzicato'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='software'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='sound'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='midi-instrument' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='tempo'/>
  <xs:attribute name='dynamics'/>
  <xs:attribute name='dacapo'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='segno'/>
  <xs:attribute name='dalsegno'/>
  <xs:attribute name='coda'/>
  <xs:attribute name='tocoda'/>
  <xs:attribute name='divisions'/>
  <xs:attribute name='forward-repeat'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='fine'/>
  <xs:attribute name='time-only'/>
  <xs:attribute name='pizzicato'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='pan'/>
  <xs:attribute name='elevation'/>
  <xs:attribute name='damper-pedal'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='soft-pedal'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='sostenuto-pedal'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='sounding-pitch'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='source'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='spiccato'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='staccatissimo'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='staccato'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='staff'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='staff-details'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='staff-type' minOccurs='0'/>
     <xs:element ref='staff-lines' minOccurs='0'/>
     <xs:element ref='staff-tuning' minOccurs='0' maxOccurs='unbounded'/>
     <xs:element ref='capo' minOccurs='0'/>
     <xs:element ref='staff-size' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='number'/>
  <xs:attribute name='show-frets'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='numbers'/>
     <xs:enumeration value='letters'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-object'/>
  <xs:attributeGroup ref='print-spacing'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='staff-distance'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='staff-layout'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='staff-distance' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='number'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='staff-lines'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='staff-size'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='staff-tuning'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='tuning-step'/>
     <xs:element ref='tuning-alter' minOccurs='0'/>
     <xs:element ref='tuning-octave'/>
   </xs:sequence>
  <xs:attribute name='line' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='staff-type'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='staves'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='stem'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='step'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='stopped'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='string'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='strong-accent'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attribute name='type' default='up'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='up'/>
     <xs:enumeration value='down'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='suffix'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='supports'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='element' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='syllabic'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='system-distance'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='system-layout'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='system-margins' minOccurs='0'/>
     <xs:element ref='system-distance' minOccurs='0'/>
     <xs:element ref='top-system-distance' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='system-margins'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='left-margin'/>
     <xs:element ref='right-margin'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='tap'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='technical'>
  <xs:complexType>
   <xs:sequence>
     <xs:choice minOccurs='0' maxOccurs='unbounded'>
       <xs:element ref='up-bow'/>
       <xs:element ref='down-bow'/>
       <xs:element ref='harmonic'/>
       <xs:element ref='open-string'/>
       <xs:element ref='thumb-position'/>
       <xs:element ref='fingering'/>
       <xs:element ref='pluck'/>
       <xs:element ref='double-tongue'/>
       <xs:element ref='triple-tongue'/>
       <xs:element ref='stopped'/>
       <xs:element ref='snap-pizzicato'/>
       <xs:element ref='fret'/>
       <xs:element ref='string'/>
       <xs:element ref='hammer-on'/>
       <xs:element ref='pull-off'/>
       <xs:element ref='bend'/>
       <xs:element ref='tap'/>
       <xs:element ref='heel'/>
       <xs:element ref='toe'/>
       <xs:element ref='fingernails'/>
       <xs:element ref='other-technical'/>
     </xs:choice>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='tenths'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='tenuto'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='text'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='thumb-position'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tie'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='tied'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='line-type'/>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='orientation'/>
  <xs:attributeGroup ref='bezier'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='time'>
  <xs:complexType>
   <xs:choice>
     <xs:sequence maxOccurs='unbounded'>
       <xs:element ref='beats'/>
       <xs:element ref='beat-type'/>
     </xs:sequence>
     <xs:element ref='senza-misura'/>
   </xs:choice>
  <xs:attribute name='number'/>
  <xs:attribute name='symbol'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='common'/>
     <xs:enumeration value='cut'/>
     <xs:enumeration value='single-number'/>
     <xs:enumeration value='normal'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-object'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='time-modification'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='actual-notes'/>
     <xs:element ref='normal-notes'/>
     <xs:sequence minOccurs='0'>
       <xs:element ref='normal-type'/>
       <xs:element ref='normal-dot' minOccurs='0' maxOccurs='unbounded'/>
     </xs:sequence>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='toe'>
  <xs:complexType>
  <xs:attribute name='substitution'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='top-margin'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='top-system-distance'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='touching-pitch'>
  <xs:complexType/>
 </xs:element>
 <xs:element name='transpose'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='diatonic' minOccurs='0'/>
     <xs:element ref='chromatic'/>
     <xs:element ref='octave-change' minOccurs='0'/>
     <xs:element ref='double' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='tremolo'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='trill-mark'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='trill-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='triple-tongue'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuning-alter'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuning-octave'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuning-step'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuplet'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='tuplet-actual' minOccurs='0'/>
     <xs:element ref='tuplet-normal' minOccurs='0'/>
   </xs:sequence>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='bracket'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='yes'/>
     <xs:enumeration value='no'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='show-number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='actual'/>
     <xs:enumeration value='both'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='show-type'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='actual'/>
     <xs:enumeration value='both'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='line-shape'/>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuplet-actual'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='tuplet-number' minOccurs='0'/>
     <xs:element ref='tuplet-type' minOccurs='0'/>
     <xs:element ref='tuplet-dot' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuplet-dot'>
  <xs:complexType>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuplet-normal'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='tuplet-number' minOccurs='0'/>
     <xs:element ref='tuplet-type' minOccurs='0'/>
     <xs:element ref='tuplet-dot' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuplet-number'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tuplet-type'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='font'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='turn'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='trill-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='type'>
  <xs:complexType mixed='true'>
  <xs:attribute name='size'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='full'/>
     <xs:enumeration value='cue'/>
     <xs:enumeration value='large'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='unpitched'>
  <xs:complexType>
   <xs:sequence>
     <xs:sequence minOccurs='0'>
       <xs:element ref='display-step'/>
       <xs:element ref='display-octave'/>
     </xs:sequence>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='up-bow'>
  <xs:complexType>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='voice'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='wavy-line'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='start'/>
     <xs:enumeration value='stop'/>
     <xs:enumeration value='continue'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='placement'/>
  <xs:attributeGroup ref='color'/>
  <xs:attributeGroup ref='trill-sound'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='wedge'>
  <xs:complexType>
  <xs:attribute name='type' use='required'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='crescendo'/>
     <xs:enumeration value='diminuendo'/>
     <xs:enumeration value='stop'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='1'/>
     <xs:enumeration value='2'/>
     <xs:enumeration value='3'/>
     <xs:enumeration value='4'/>
     <xs:enumeration value='5'/>
     <xs:enumeration value='6'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='spread'/>
  <xs:attributeGroup ref='position'/>
  <xs:attributeGroup ref='color'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='with-bar'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='print-style'/>
  <xs:attributeGroup ref='placement'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='word-font'>
  <xs:complexType>
  <xs:attributeGroup ref='font'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='words'>
  <xs:complexType mixed='true'>
  <xs:attributeGroup ref='justify'/>
  <xs:attributeGroup ref='halign'/>
  <xs:attributeGroup ref='valign'/>
  <xs:attributeGroup ref='print-style'/>
  <xs:attribute name='enclosure'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='rectangle'/>
     <xs:enumeration value='oval'/>
     <xs:enumeration value='none'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name='work'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='work-number' minOccurs='0'/>
     <xs:element ref='work-title' minOccurs='0'/>
     <xs:element ref='opus' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='work-number'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='work-title'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
</xs:schema>
